/* Cabeçalho */
header {
  background-color: #3C2E7A;
  padding: 10px;
  text-align: center;
  margin: auto;

}

/* Rodapé */
footer {
  background-color: #3C2E7A;
  padding: 10px;
  text-align: center;
  margin: auto;

}

/* Conteudo principal */
main {
  text-align: justify;
  padding: 10px;

}

/* Seções */
section {
  background-color: #3C2E7A;
  padding: 10px;
  
}

/*Conteúdo(s) complementar(es). */
aside {
    background-color: #FF6798;
    font-family: 'Anonymous_Pro', monospace;
    text-align: center;
    font-size: 14px;
    font-style: bold;
    padding: 10px;

}

/*Para deixar textos e conteúdos especificos em centralizar. */
.center {
  text-align: center;

}
