@font-face {
    font-family: 'Deutsch_Gothic';
    src: url('../../fonts/deutsch_gothic/Deutsch.ttf') format('truetype');
}

@font-face {
    font-family: 'Crimson_Text_Regular';
    src: url('../../fonts/crimson_text/CrimsonText-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Crimson_Text_Bold';
    src: url('../../fonts/crimson_text/CrimsonText-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Celtic_Garamond';
    src: url('../../fonts/celtic_garamond/CELTG.TTF') format('opentype');
}

* {
  box-sizing: border-box;
}
  
body {
    background-color: #404936;
    margin: 0;
    width: 100%;
    padding: 0;

}
  
h1 {
    font-family: 'Deutsch_Gothic', monospace;
    text-transform: uppercase;
    color: #B59B79;
    padding: 15px;
    text-align: center;
    font-size: 50px;

}

h2 {
    font-family: 'Crimson_Text_Bold', monospace;
    text-transform: uppercase;
    color: #B59B79;
    padding: 15px;
    text-align: center;
    font-size: 35px;

}

h3 {
    font-family: 'Crimson_Text_Bold', monospace;
    text-transform: uppercase;
    color: #B59B79;
    padding: 15px;
    text-align: center;
    font-size: 30px;

}

a {
    font-family: 'Crimson_Text_Bold', monospace;
    color: #E2D8C2;
    text-decoration: none;

}

p {
    font-family: 'Crimson_Text_Regular', monospace;
    color: #E2D8C2;
    text-align: justify;
    font-size: 20px;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;

}

.link {
    font-family: 'Crimson_Text_Regular', monospace;
    color: #443C3D;
    text-align: center;
    font-size: 18px;
    font-style: italic;

}

.l {
    font-family: 'Crimson_Text_Regular', monospace;
    color: #E2D8C2;
    text-align: left;
    font-size: 18px;
}

/*Para deixar textos e conteúdos especificos em centralizar. */
.center {
    text-align: center;
    max-width: auto;
    min-width: 400px;

}

/*Estilo para as caixas de texto do formulário.*/
.forlabel {
    font-family: 'Crimson_Text_Bold', monospace;
    text-transform: uppercase;
    color: #B59B79;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}

/*Estilo para titulos especificos ou que se deseja dar destaque sem ser H1/H2. */
.forsign {
    font-family: 'Celtic_Garamond', monospace;
    color:#E2D8C2;
    text-align: right;
    background-color:#181616;
    border: 2px solid #181616;
    border-radius: 10px;

}

/*Estilo para inputs. */
.forinputs {
    font-family: 'Crimson_Text_Regular', monospace;
    font-size: medium;
    font-style: italic;
    background-color: #E2D8C2;
    text-align: left;
    color: #181616;
    border-radius: 10px;
    border: 2px solid #181616;
    width: 300px;
    height: 30px;
    padding: 5px;
    

}

button {
    font-family: 'Crimson_Text_Bold', monospace;
    background-color: #443C3D;
    color: #E2D8C2;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #181616;
    border-radius: 10px;

}

/*Efeito ao passar o mouse. */
button:hover {
    background-color: #B59B79;
    color: #443C3D;

}

button:hover a {
    color: #443C3D;
}

table {
    border: 5px solid #99744A;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;

}

tr, td {
    border: 1px solid #99744A;
    font-family: 'Crimson_Text_Regular', monospace;
    color: #E2D8C2;
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 0px;

}

th {
    background-color: #99744A;
    font-size: 24px;
    color: #181616;
    font-family: 'Crimson_Text_Bold', monospace;
    padding-right: 5px;
    padding-left: 5px;
}

.btn {
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;

}

/*Estilo para barras de pesquisa (por id). */
#barraPesquisa {
    background-color: #443C3D;
    color: #E2D8C2;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #181616;
    width: 60%;
    text-align: left;
}

/*Estilo único para o botão de cadastro da tela admin. */
.btn_cad {
    font-family: 'Crimson_Text_Bold', monospace;
    background-color: #443C3D;
    color: #E2D8C2;
    padding: 5px 5px;
    font-size: 15px;
    border: 2px solid #181616;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0px;
    width: 60%;
    height: 35px;

}

.btn_cad:hover {
    background-color: #B59B79;
    color: #443C3D;

}


/* Estilos para telas pequenas */
@media (min-width: 400px) and (max-width: 600px) {
    body {
        font-size: 12px;
        padding: 0px;
    }

    h1 {
    font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    table{
        width: 50%;
    }

    #form{
        width: 20%;
    }

}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
        padding: 10px;
        margin: 0;
    }

    h1 {
    font-size: 42px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    table{
        width: 50%;
    }

}

/* Estilos para telas grandes */
@media (min-width: 1025px) {
    body {
        font-size: 20px;
        padding: 40px;
        margin: 0;
    }

}

/* Estilos para telas pequenas — Paisagem (landscape) */
@media (max-width: 400px) and (max-width: 600px) and (orientation: landscape) {
    body {
        font-size: 12px;

    }

    h1 {
    font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    table{
        width: 50%;
    }

}

/* Estilos para tablets — Retrato (portrait) */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: 16px;
    }

    h1 {
    font-size: 42px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    table{
        width: 50%;
    }

}