@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'Mleitod-Regular';
    src: url('/infrastructure/assets/fonts/mleitod/mleitod_personal_use_only.ttf') format('truetype');
  }

@font-face {
    font-family: 'Robot';
    src: url('/infrastructure/assets/fonts/robot/Robot_Font.otf') format('opentype');;
  }
  
body {
    background-color: #180B41;

  }
  
h1 {
    font-family: 'Mleitod-Regular', monospace;
    text-transform: uppercase;
    color: #E80E49;
    padding: 15px;
    text-align: center;
    font-size: 50px;

  }

  h2 {
    font-family: 'Mleitod-Regular', monospace;
    text-transform: uppercase;
    color: #EA404D;
    padding: 15px;
    text-align: center;
    font-size: 25px;

  }

h3 {
    font-family: 'Mleitod-Regular', monospace;
    text-transform: uppercase;
    color: #EA404D;
    padding: 15px;
    text-align: center;
    font-size: 25px;

  }

p {
    font-family: 'Robot', monospace;
    color: #ffffff;
    text-align: justify;
    font-size: 18px;

  }

a {
    font-family: 'Robot', monospace;
    color: #FF6798;
    text-align: center;
    font-size: 18px;
    font-style: italic;

  }

.l {
    font-family: 'Robot', monospace;
    color: #0E92D2;
    text-align: left;
    font-size: 18px;
  }