@font-face {
    font-family: 'Anonymous_Pro';
    src: url('/infrastructure/assets/fonts/anonymous_pro/AnonymousPro-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Emerge';
    src: url('/infrastructure/assets/fonts/emerge/Emerge\ Demo.ttf') format('opentype');;
  }
  
body {
    background-color: #180B41;

  }
  
h1 {
    font-family: 'Emerge', monospace;
    text-transform: uppercase;
    color: #E80E49;
    padding: 15px;
    text-align: center;
    font-size: 50px;

  }

  h2 {
    font-family: 'Emerge', monospace;
    text-transform: uppercase;
    color: #EA404D;
    padding: 15px;
    text-align: center;
    font-size: 25px;

  }

h3 {
    font-family: 'Emerge', monospace;
    text-transform: uppercase;
    color: #EA404D;
    padding: 15px;
    text-align: center;
    font-size: 25px;

  }

p {
    font-family: 'Anonymous_Pro', monospace;
    color: #ffffff;
    text-align: justify;
    font-size: 18px;

  }

a {
    font-family: 'Anonymous_Pro', monospace;
    color: #FF6798;
    text-align: center;
    font-size: 18px;
    font-style: italic;

  }

.l {
    font-family: 'Anonymous_Pro', monospace;
    color: #0E92D2;
    text-align: left;
    font-size: 18px;
  }